tmux/.config/tmux/plugins/tmux-battery/
tmux/.config/tmux/plugins/tmux-fzf/
tmux/.config/tmux/plugins/tmux/
tmux/.config/tmux/plugins/vim-tmux-navigator/
tmux/.config/tmux/plugins/tmux-floax/
tmux/.config/tmux/plugins/extrakto/
tmux/.config/tmux/plugins/tmux-mem-cpu-load/
tmux/.config/tmux/plugins/tmux-yank/
tmux/.config/tmux/plugins/tmux-copycat/
irssi/.irssi/logs/*

bin/.local/bin/ghostty
bin/.local/bin/pynvim-python

alacritty/.config/alacritty/size.yml
alacritty/.config/alacritty/size.toml
